/* mobile first */
#navigation ul {
    display: flex;
    flex-direction: row;
    gap: 4em;
    padding-bottom: 0;
    list-style: none;
}
#navigation {
    position: fixed;
    top: 0;
    background-color: rgb(104, 209, 148);
    width: 100%;
}
#name {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #610327;
}
h2 {
    font-weight:900;
    font-size: 2rem;
    color: blanchedalmond;
    border-style: double;
}
body {
    height: 100vh;
    background-color: rgb(104, 209, 148);
    color: rgb(62, 4, 117);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#About {
    font-size: 1.3rem;
    text-align: center;
}
#profile-picture {
    border-radius: 50%;
    margin: 1em;
    width: 35%;
    border-color: rgb(120, 22, 212);
    border-width: 1dvi;
    border-style:outset;
}
#Experience {
    text-align: center;
}
.grid-container{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
}
.grid-item{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 0.8em;
    padding: 0.5em;
    border-style: solid;
}
.one-experience{
    display: flex;
    flex-direction: column;
}
.date{
    font-weight: bold;
    margin-right: 1em;
    min-width: fit-content;
}
#Skills{
    text-align: center;
}
#Projects{
    text-align: center;
}
#Connect {
    text-align: center;
}
.connect-container{
    display: grid;
    gap: 10px;
}
.connect-item{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 0.8em;
    padding: 0.5em;
    border-style: solid;
}
section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #a50acc;
}
/* current default code is for Mobile size. */
/* media queries for desktop, tablet and smaller mobile screens. */
@media only screen and (max-width: 500px) { /* for smaller mobile screens, adjust fonts to better fit the screen */
    #navigation{ /* element 1 */
        font-size: 9px;
        background-color: aliceblue;
    }
    #name { /* element 2 */
        font-size: 50px;
        font-style: italic;
    }
    #About p { /* element 3 */
        font-size: 18px;
        font-weight: 900;
    }
}
@media only screen and (min-width: 600px) { /* adjust for tablet screeens, grids to fit without awkward adjustment */
    .grid-container { /* element 1 */
        grid-template-columns: 1fr 1fr;
        font-style: italic;
    }
    #name { /* element 2 */
        text-align: center;
        color:rgb(121, 70, 3);
    }
    .one-exp-heading{ /* element 3 */
        font-size: 2rem;
        font-weight: 10;
    }
}
@media only screen and (min-width: 1150px) { /* adjust for Desktop screens, grids to fit without awkward adjustment */
    .grid-container { /* element 1 */
        grid-template-columns: 1fr 1fr 1fr 1fr;
        color: rgb(145, 4, 138);
    }
    #navigation ul { /* element 2 */
        gap: 15em;
        font-size: 18px;
    }
    #name { /* element 3 */
        text-align: center;
        color:antiquewhite;
    }
}
#Skills ul li{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 0.8em;
    padding: 0.5em;
    border-style: solid;
}
#messages ul li{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 0.8em;
    padding: 0.5em;
    border-style: solid;
}