#name {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: #610327;
}
h2 {
    font-weight:900;
    font-size: 2rem;
    color: blanchedalmond;
    border-style: double;
}
body {
    height: 100vh;
    background-color: rgb(104, 209, 148);
    color: rgb(62, 4, 117);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#About {
    font-size: 1.3rem;
    text-align: center;
}
#profile-picture {
    border-radius: 50%;
    margin: 1em;
    width: 35%;
    border-color: rgb(120, 22, 212);
    border-width: 1dvi;
    border-style:outset;
}
#Experience {
    text-align: center;
}
.grid-container{
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    gap: 10px;
}
.grid-item{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 0.8em;
    padding: 0.5em;
    width: 20em;
}
.one-experience{
    display: flex;
    flex-direction: column;
}
.date{
    font-weight: bold;
    margin-right: 1em;
    min-width: fit-content;
}
#Skills{
    text-align: center;
}
#Projects{
    text-align: center;
}
#Connect {
    text-align: center;
}
.connect-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.connect-item{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    border-radius: 0.8em;
    padding: 0.5em;
}
section {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #a50acc;
}